html,body { margin:1em; padding:0; background:#eee; font-family: Arial; font-size:100%;}
#container { border: 2px solid black; padding: 1em; width: 1000px; margin:auto; background:#fff;}
.clearfix { clear:both;}
.kilde { background:#eee; font-size: 14px; width:98%; padding: 1%; margin-bottom:1em;}
.ny-kilde { background:#ded; font-size: 14px; width:98%; padding: 1%; margin-bottom:1em;}
.kilde-navn { font-size: 1.5em; display:inline-block; float:left; cursor: pointer;}
.kilde-navn-ny { font-size: 1.5em; display:inline-block; float:left;}
.kilde-info { padding: 1em 0; margin-bottom: 1em;}
.kilde-innhold { clear: both; display: none;}
.triangle { font-size:1.5em; display:inline-block; float:right; cursor: pointer;}
.close:after {content: '▲'; }
.open:after {content: '▼'; }
label { font-weight: bold; margin:1em;}
input.homepage { width: 250px;}
input.epost { width: 300px;}
table.brukere { margin: 1em; width: 98%; border-collapse: collapse;}
table.brukere th { text-align: left; border-bottom: 1px solid #888;}
table.brukere td { min-width: 70px;}
tr.ny-bruker { background: #ded; border-top:1px solid #888;}
td.info { width: 250px; font-size: 12px; color: red;}
.ny-kilde-info { float:right;}
button { min-width: 4em;}
button.big { height:2em; width: 5em; font-weight:bold; margin-left:1em;}
.create-new-user { width: 128px; height: 38px; font-weight: bold;}
img.small { height:12px;}
h3 { margin-left: 1em; border-bottom:1px solid #888;}